.left_bottom ul li:nth-child(8) {
  background: #4463dc; }
.left_bottom ul li:nth-child(1) {
  background: #4c6ef5; }

.right {
  width: 100%;
  text-align: center; }
  .right h4 {
    font-size: 52px;
    color: #292929;
    font-weight: 100;
    margin-bottom: 20px; }
  .right .r_f_r {
    display: flex;
    -webkit-justify-content: space-between; }
    .right .r_f_r .r_f {
      width: 100%;
      padding: 32px 14px;
      background: #ffffff;
      box-shadow: 0 0 10px #6a6869;
      margin-bottom: 16px;
      margin-right: 20px; }
      .right .r_f_r .r_f h5 {
        font-size: 24px;
        color: #495057;
        font-weight: 100;
        margin-bottom: 16px;
        padding-bottom: 25px;
        border-bottom: 1px solid #e5e5e5; }
      .right .r_f_r .r_f table .head {
        width: 100%;
        padding-left: 15px; }
        .right .r_f_r .r_f table .head td {
          padding: 15px;
          text-align: left;
          font-size: 14px;
          color: #252525;
          font-weight: 600;
          border-top: 1px solid #e5e5e5;
          border-bottom: 1px solid #e5e5e5;
          width: 20%; }
        .right .r_f_r .r_f table .head td:nth-child(1) {
          width: 8%; }
        .right .r_f_r .r_f table .head td:nth-child(4) {
          width: 36%; }
      .right .r_f_r .r_f table .text td {
        font-size: 10px;
        color: #212529;
        font-weight: 100; }
        .right .r_f_r .r_f table .text td .pro {
          display: inline-block;
          background: #dc3545;
          border-radius: 5px;
          padding: 2px 5px;
          color: #ffffff;
          vertical-align: middle; }
        .right .r_f_r .r_f table .text td .pre {
          display: inline-block;
          background: #007bff;
          border-radius: 10px;
          padding: 2px 5px;
          color: #ffffff;
          vertical-align: middle; }
    .right .r_f_r .rep {
      width: 100%;
      padding: 32px 14px;
      background: #ffffff;
      box-shadow: 0 0 10px #6a6869;
      margin-bottom: 16px; }
      .right .r_f_r .rep h5 {
        font-size: 24px;
        color: #495057;
        font-weight: 100;
        margin-bottom: 16px; }
      .right .r_f_r .rep div {
        font-size: 20px;
        color: #f85757;
        display: flex;
        -webkit-justify-content: space-between; }
        .right .r_f_r .rep div .sug {
          margin-bottom: 20px; }
        .right .r_f_r .rep div .yuan {
          margin-bottom: 20px; }
      .right .r_f_r .rep table {
        width: 100%; }
        .right .r_f_r .rep table tr {
          width: 100%;
          display: flex; }
          .right .r_f_r .rep table tr td {
            text-align: left;
            border: 1px solid #dee2e6;
            font-size: 10px;
            color: #212529;
            padding: 15px 0px 15px 12px; }
          .right .r_f_r .rep table tr td:nth-child(1) {
            width: 20%; }
          .right .r_f_r .rep table tr td:nth-child(2) {
            width: 50%; }
          .right .r_f_r .rep table tr td:nth-child(3) {
            width: 30%; }
        .right .r_f_r .rep table tr:nth-child(1) td {
          font-size: 12px;
          color: #252525;
          font-weight: 600; }
  .right .w_w {
    width: 97%;
    padding: 32px 14px;
    background: #ffffff;
    box-shadow: 0 0 10px #6a6869;
    margin-bottom: 16px;
    margin-right: 20px; }
    .right .w_w h5 {
      font-size: 24px;
      color: #495057;
      font-weight: 100;
      margin-bottom: 16px;
      padding-bottom: 25px; }
    .right .w_w .weac {
      background: #151515;
      border-radius: 30px;
      padding: 20px 30px;
      height: 310px; }
      .right .w_w .weac .w_t {
        display: flex;
        -webkit-justify-content: space-between; }
        .right .w_w .weac .w_t .w_t_l h6 {
          font-size: 28px;
          color: #f75744;
          font-weight: 100; }
        .right .w_w .weac .w_t .w_t_l p {
          font-size: 28px;
          color: #ffffff; }
        .right .w_w .weac .w_t .w_t_c img {
          width: 100%;
          height: 100%; }
        .right .w_w .weac .w_t .w_t_r p:nth-child(1) {
          font-size: 15px;
          color: #ffffff; }
        .right .w_w .weac .w_t .w_t_r p:nth-child(2) {
          font-size: 20px;
          color: #ffffff; }
        .right .w_w .weac .w_t .w_t_r p:nth-child(3) {
          font-size: 15px;
          color: #ffffff; }
      .right .w_w .weac .w_b {
        margin-top: 35px;
        display: flex;
        -webkit-justify-content: space-around; }
        .right .w_w .weac .w_b div {
          width: 14%;
          padding: 15px 35px; }
          .right .w_w .weac .w_b div .text1 {
            font-size: 15px;
            color: #b7b79a; }
          .right .w_w .weac .w_b div .text2 {
            font-size: 20px;
            color: #b7b79a; }
          .right .w_w .weac .w_b div .text3 {
            font-size: 15px;
            color: #f75442; }
          .right .w_w .weac .w_b div img {
            margin-top: 15px;
            margin-bottom: 15px; }
        .right .w_w .weac .w_b .one {
          background: #1a1a1a;
          border-right: 1px solid #292929;
          border-left: 1px solid #292929; }
  .right .a_b_c_a {
    display: flex; }
    .right .a_b_c_a .aug {
      width: 100%;
      margin-right: 20px;
      padding: 30px 16px 0px 16px;
      background: #ffffff;
      box-shadow: 0 0 10px #6a6869;
      margin-bottom: 16px; }
      .right .a_b_c_a .aug div {
        padding: 0px 40px 15px 40px;
        border-bottom: 1px dotted #777777; }
        .right .a_b_c_a .aug div img {
          border-radius: 50%;
          margin-bottom: 18px; }
        .right .a_b_c_a .aug div h6 {
          font-size: 24px;
          color: #e037d2;
          font-weight: 100; }
        .right .a_b_c_a .aug div p {
          font-size: 10px;
          color: #f12929; }
      .right .a_b_c_a .aug h6 {
        font-size: 22px;
        color: #370737;
        font-weight: 100;
        line-height: 40px; }
      .right .a_b_c_a .aug p {
        font-size: 10px;
        color: #a299b2;
        line-height: 28px; }
      .right .a_b_c_a .aug .circle {
        margin-top: 36px;
        display: flex;
        border: 0;
        -webkit-justify-content: space-around; }
    .right .a_b_c_a .con {
      width: 100%;
      margin-right: 20px;
      padding: 30px 16px;
      background: #ffffff;
      box-shadow: 0 0 10px #6a6869;
      margin-bottom: 16px; }
      .right .a_b_c_a .con h5 {
        font-size: 24px;
        color: #495057;
        font-weight: 100;
        margin-bottom: 16px;
        padding-bottom: 25px;
        border-bottom: 1px solid #e5e5e5; }
      .right .a_b_c_a .con .brown {
        display: flex;
        margin-bottom: 15px; }
        .right .a_b_c_a .con .brown .brown_l {
          width: 100%; }
          .right .a_b_c_a .con .brown .brown_l img {
            border-radius: 50%; }
        .right .a_b_c_a .con .brown .brown_c {
          width: 100%;
          padding-top: 15px; }
          .right .a_b_c_a .con .brown .brown_c p {
            font-size: 12px;
            color: #212121; }
          .right .a_b_c_a .con .brown .brown_c span {
            font-size: 10px;
            color: #212529; }
        .right .a_b_c_a .con .brown .brown_r {
          padding-top: 20px;
          width: 100%;
          font-size: 10px;
          color: #212121; }
    .right .a_b_c_a .act {
      width: 100%;
      padding: 30px 16px;
      background: #ffffff;
      box-shadow: 0 0 10px #6a6869;
      margin-bottom: 16px;
      position: relative; }
      .right .a_b_c_a .act img {
        position: absolute;
        top: 100px;
        left: 10px; }
      .right .a_b_c_a .act h5 {
        font-size: 24px;
        color: #495057;
        font-weight: 100;
        margin-bottom: 16px;
        padding-bottom: 25px;
        border-bottom: 1px solid #e5e5e5; }
      .right .a_b_c_a .act .act_list {
        text-align: left;
        margin-left: 20px;
        margin-bottom: 27px; }
        .right .a_b_c_a .act .act_list span {
          font-size: 12px;
          color: #b5adc6; }
        .right .a_b_c_a .act .act_list p {
          font-size: 14px;
          color: #212529; }

@media screen and (max-width: 1000px) {
  .right_top {
    width: 100%; }

  .r_f_r {
    flex-direction: column; }
    .r_f_r .r_f {
      margin-right: 0px; }

  .a_b_c_a {
    flex-direction: column; }
    .a_b_c_a .aug {
      margin-right: 0px; }
    .a_b_c_a .con {
      margin-right: 0px; } }

/*# sourceMappingURL=widgets.css.map */
