
.left_bottom{
  ul{
    #start_click{
      background: #4463dc;
    }
  }
}
.left_bottom{
  ul{
    li:first-child{
      background: #4c6ef5;
    }
  }
}

.right{
  width:100%;
  text-align: center;
  h4{
    font-size: 52px;
    color: #292929;
    font-weight: 100;
    margin-bottom: 20px;
  }
  //Inline Form
  .i_f{
    padding: 32px 14px;
    background: #ffffff;
    box-shadow: 0 0 10px #6a6869;
    margin-bottom: 16px;
    h5{
      font-size:24px ;
      color:#495057 ;
      font-weight: 100;
      margin-bottom: 16px;
    }
    form{
      text-align: left;
      .text{
        border: 1px solid #ced4da;
        padding:10px 0 10px 10px;
        font-size:16px ;
        color:#6c757d ;
        border-radius: 5px;
      }
      span{
        padding: 9px;
        vertical-align: middle;
        border: 1px solid #ced4da;
        background: #f0f0f0;
      }
      .textspan{
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        margin-right: 5px;
        border-left:0px;
      }
      #sub{
        //display: inline-block;
        padding:10px 15px;
        background: blue;
        border: 0;
        border-radius: 5px;
        font-size: 16px;
        color: #ffffff;
        margin-left: 5px;
        vertical-align: middle;
      }
    }
  }
 //Horizontal Form_Form Controls
  .h_f_f_c{
    width: 100%;
    display: flex;
    -webkit-justify-content: space-between;
    .h_f{
      width:100%;
      padding: 30px 14px;
      background: #ffffff;
      box-shadow: 0 0 10px #6a6869;
      margin-bottom: 16px;
      margin-right: 20px;
      h5{
        font-size:24px ;
        color:#3e3e3e ;
        font-weight: 100;
        margin-bottom: 16px;
      }
      form{
        text-align: left;
        font-size:16px ;
        color:#212529 ;
        .email{
          width:75%;
          border: 1px solid #ced4da;
          padding:10px 0 10px 10px;
          font-size: 16px;
          color: #6c7581;
          border-radius: 5px;
          margin-bottom: 16px;
          margin-left: 40px;
        }
        .pwd{
          width:75%;
          border: 1px solid #ced4da;
          padding:10px 0 10px 10px;
          font-size: 16px;
          color: #6c7581;
          border-radius: 5px;
          margin-bottom: 16px;
          margin-left: 8px;
        }
        .rad{
          margin-bottom: 16px;
          margin-left: 32px;
        }
        .rad2{
          margin-left: 80px;
        }
        .rad3{
          margin-left: 80px;
        }
        span{
          color: #7d7d7d;
        }
        #sub2{
          padding:10px 15px;
          background: blue;
          border: 0;
          border-radius: 5px;
          font-size: 16px;
          color: #ffffff;
          margin-left: 5px;
          margin-top: 25px;
        }
      }
    }
    .f_c{
      width:100%;
      padding: 30px 14px;
      background: #ffffff;
      box-shadow: 0 0 10px #6a6869;
      margin-bottom: 16px;
      h5{
        font-size:24px ;
        color:#3e3e3e ;
        font-weight: 100;
        margin-bottom: 16px;
      }
      form{
        text-align: left;
        font-size:16px ;
        color:#212529;
        line-height: 25px;
        input{
          width: 97%;
          border: 1px solid #ced4da;
          padding:10px 0 10px 10px;
          font-size:16px ;
          color:#6c757d;
          border-radius: 5px;
          margin-bottom: 20px;
        }
        #sel{
          width:100%;
          border: 1px solid #ced4da;
          padding:10px 0 10px 10px;
          margin-bottom: 20px;
          border-radius: 5px;
        }
        .e_m_s{
          //width:100%;
          height:100px;
          border:1px solid #ced4da;
          border-radius: 5px;
          overflow-y: auto;
          padding: 10px 15px;
          li{
            line-height: 25px;
          }
        }
        textarea{
          display: inline-block;
          width:100%;
          height:100px;
          border-radius: 5px;
        }
      }
    }
  }
  //Grid Sustem Form
  .g_s_f{
    padding: 32px 14px;
    background: #ffffff;
    box-shadow: 0 0 10px #6a6869;
    margin-bottom: 16px;
    h5{
      font-size:24px ;
      color:#495057 ;
      font-weight: 100;
      margin-bottom: 16px;
    }
    form{
      font-size: 16px;
      color: #212529;
      text-align: left;
      line-height: 24px;
      .e_p{
        width:100%;
        display: flex;
        margin-bottom: 20px;
        font-size: 16px;
        color: #212529;
        .e_l{
          width: 50%;
          margin-right: 10px;
          input{
            width:98%;
            padding:11px 0 10px 10px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            font-size: 14px;
            color: #6c7581;
          }
        }
        .p_r{
          width:50%;
          input{
            width:98%;
            padding:11px 0 10px 10px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            font-size: 14px;
            color: #6c7581;
          }
        }
      }
      .add{
        width:99%;
        padding:11px 0 10px 10px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        margin-bottom: 20px;
        font-size: 14px;
        color: #6c7581;
      }
      .c_s_z{
        width: 100%;
        display: flex;
        -webkit-justify-content:flex-start;
        .c_l{
          width:48%;
          font-size: 16px;
          color: #212529;
          input{
            width:100%;
            padding:11px 0 10px 10px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            margin-bottom: 20px;
            font-size: 14px;
            color: #6c7581;
          }
        }
        .s_c{
          width:29%;
          font-size: 16px;
          color: #212529;
          margin-right: 10px;
          margin-left: 20px;
          select{
            width:100%;
            padding:10px 0 10px 10px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            margin-bottom: 20px;
            font-size: 14px;
            color: #6c7581;
          }
        }
        .z_r{
          width:19%;
          font-size: 16px;
          color: #212529;
          input{
            width:100%;
            padding:11px 0 10px 10px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            margin-bottom: 20px;
            font-size: 14px;
            color: #6c7581;
          }
        }
      }
      #sub3{
        padding:10px 15px;
        background: blue;
        border: 0;
        border-radius: 5px;
        font-size: 16px;
        color: #ffffff;
        margin-top: 20px;
      }
    }

  }
  //Checkout form
  .c_f{
    padding: 32px 14px;
    background: #ffffff;
    box-shadow: 0 0 10px #6a6869;
    margin-bottom: 16px;
    h5{
      font-size:24px ;
      color:#495057 ;
      font-weight: 100;
      margin-bottom: 16px;
    }
    .b_a_y_c{
      width:100%;
      display: flex;
      text-align: left;
      -webkit-justify-content: space-between;
      .b_a{
        //width:60%;
        h6{
          font-size: 20px;
          color: #272529;
          font-weight: 100;
          margin-bottom: 20px;
        }
        form{
          width:100%;
          .f_l_n{
            width: 100%;
            display: flex;
            //-webkit-justify-content: space-between;
            .f_l{
              width:46%;
              font-size: 16px;
              color: #212529;
              margin-right: 28px;
              input{
                width:100%;
                padding:11px 0 10px 10px;
                border: 1px solid #ced4da;
                border-radius: 5px;
                font-size: 12px;
                color: #6c757d;
                margin-bottom: 20px;
              }
            }
            .l_r{
              width:46%;
              font-size: 16px;
              color: #212529;
              input{
                width: 100%;
                padding:11px 0 10px 10px;
                border: 1px solid #ced4da;
                border-radius: 5px;
                font-size: 12px;
                color: #6c757d;
                margin-bottom: 20px;
              }
            }
          }
          .u_s{
            font-size: 16px;
            color: #212529;
            margin-bottom: 20px;
            span{
              display: inline-block;
              border-top-left-radius: 5px;
              border-bottom-left-radius:5px;
              background: #e9ecef;
              font-size: 12px;
              color: #495057;
              border: 1px solid #ced4da;
              padding:9px;
              vertical-align: middle;
            }
            input{
              width:90%;
              font-size: 12px;
              color: #6c757d;
              padding:10px 0 10px 10px;
              border: 1px solid #ced4da;
            }
          }
          .e_a_a{
            font-size: 16px;
            color: #212529;
            span{
              color: #70757d;
            }
            input{
              width:100%;
              font-size: 14px;
              color: #6c757d;
              padding:10px 0 10px 10px;
              border: 1px solid #ced4da;
              margin-bottom: 20px;
              border-radius: 5px;
            }
          }
          .c_s_z{
            width:100%;
            display: flex;
            .c_l{
              width: 40%;
              font-size: 16px;
              color: #212529;
              margin-right: 30px;
              select{
                width:100%;
                font-size: 14px;
                color: #6c757d;
                padding:10px 0 10px 10px;
                border: 1px solid #ced4da;
                margin-bottom: 20px;
                border-radius: 5px;
              }
            }
            .s_c{
              width:30%;
              font-size: 16px;
              color: #212529;
              margin-right: 30px;
              select{
                width:100%;
                font-size: 14px;
                color: #6c757d;
                padding:10px 0 10px 10px;
                border: 1px solid #ced4da;
                margin-bottom: 20px;
                border-radius: 5px;
              }
            }
            .z_r{
              width:17%;
              font-size: 16px;
              color: #212529;
              input{
                width:100%;
                font-size: 14px;
                color: #6c757d;
                padding:10px 0 10px 10px;
                border: 1px solid #ced4da;
                margin-bottom: 20px;
                border-radius: 5px;
              }
            }
          }
          .s_s{
            padding-top: 25px;
            padding-bottom: 25px;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
            font-size: 14px;
            color: #212529;
            input{
              margin-right: 10px;
              vertical-align: middle;
              margin-bottom: 3px;
            }
          }
          .pay{
            font-size: 14px;
            color: #21252f;
            margin-bottom: 20px;
            h6{
              font-size: 20px;
              color: #3c2529;
              margin-top: 28px;
            }
          }
          .n_c{
            width: 100%;
            display: flex;
            //-webkit-justify-content: space-between;
            .n_l{
              width:46%;
              font-size: 16px;
              color: #212529;
              margin-right: 28px;
              input{
                width:100%;
                padding:11px 0 10px 10px;
                border: 1px solid #ced4da;
                border-radius: 5px;
                font-size: 12px;
                color: #6c757d;
              }
              span{
                display: inline-block;
                font-size:10px ;
                color:#6c757d ;
                margin-bottom: 20px;
              }
            }
            .c_r{
              width:46%;
              font-size: 16px;
              color: #212529;
              input{
                width: 100%;
                padding:11px 0 10px 10px;
                border: 1px solid #ced4da;
                border-radius: 5px;
                font-size: 12px;
                color: #6c757d;
                margin-bottom: 20px;
              }
            }
          }
          .e_c{
            width: 45%;
            display: flex;
            //-webkit-justify-content: space-between;
            .e_l{
              width:46%;
              font-size: 16px;
              color: #212529;
              margin-right: 28px;
              input{
                width:100%;
                padding:11px 0 10px 10px;
                border: 1px solid #ced4da;
                border-radius: 5px;
                font-size: 12px;
                color: #6c757d;
                margin-bottom: 20px;
              }
            }
            .c_r{
              width:46%;
              font-size: 16px;
              color: #212529;
              input{
                width: 100%;
                padding:11px 0 10px 10px;
                border: 1px solid #ced4da;
                border-radius: 5px;
                font-size: 12px;
                color: #6c757d;
                margin-bottom: 20px;
              }
            }
          }
          .subm{
            border-top:1px solid #e5e5e5 ;
            padding-top: 24px;
            #sub4{
              width:100%;
              background: #f75757;
              padding: 14px 0;
              border: 0;
              border-radius: 5px;
              color: #ffffff;
            }
          }
        }
      }
      .y_c{
        //width:38%;
        p{
          width: 100%;
          font-size: 20px;
          color: #6c758d;
          margin-bottom: 20px;
          span{
            display: inline-block;
            width:33px;
            height:27px;
            border-radius:45px;
            background: #6c757d;
            font-size: 14px;
            color: #fffff2;
            line-height: 30px;
            text-align: center;
            margin-left: 50%;
          }
        }
        .List{
          width:100%;
          .cart_list{
            border: 1px solid #dfdfdf;
            padding:14px 18px;
            .l_r{
              display: flex;
              -webkit-justify-content: space-between;
              .p_l{
                text-align: left;
                font-size: 14px;
                color: #212536;
              }
              .p_r{
                text-align: right;
                font-size: 14px;
                color:#6c757d
              }
            }
            span{
              display: inline-block;
              font-size: 14px;
              color: #6c757d;
            }
          }
          .cart_list1{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
          .cart_list2{
            border-top: 0px;
          }
          .cart_list3{
            border-top: 0px;
          }
          .cart_list4{
            border-top: 0px;
            background:#f8f9fa ;
            .l_r{
              .p_l{
                color:#28a745 ;
              }
              .p_r{
                color:#28a745 ;
              }
            }
            span{
              color:#28a745 ;
            }
          }
          .cart_list5{
            border-top: 0px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            .l_r{
              .p_l{
                font-size: 18px;
                color: #212529;
              }
              .p_r{
                font-size: 18px;
                color:#212529 ;
                font-weight: 600;
              }
            }
          }
          .code{
            border:1px solid #dfdfdf;
            border-radius: 5px;
            padding:10px;
            margin-top: 16px;
            input{
              width:60%;
              border:1px solid #ced4da;
              border-right: 0px;
              padding:10px 0px 10px 10px;
              border-bottom-left-radius: 5px;
              border-top-left-radius: 5px;
              color: #6c7581;
            }
            span{
              padding:11px 14px;
              background: #6c757d;
              border-bottom-right-radius: 5px;
              border-top-right-radius: 5px;
              font-size: 12px;
              color: #ffffff;
              text-align: center;
            }
          }
        }

      }
    }

  }
}

@media  screen and (max-width: 1000px) {
  .right_top{
    width:100%;
  }
  .i_f{
    width: 100%;
  }
  .g_s_f{
    width:100%;
  }
  .h_f_f_c{
    flex-direction: column;
  }
  .c_f{
    width:100%;
  }
  .b_a_y_c{
    width:100%;
    flex-direction: column;
    .y_c{
      margin-top: 20px;
    }
  }
}